<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% include "navbar.html" %}
<style>
    table, th, td {
        border: 1px solid black;
    }
    table {
        width: 50%;
    }
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
</style>
    <Title>Detail Surat Mahasiswa</Title>
    <!-- main of your body -->
    <main>
        <!-- Section body starts Here -->
        <div class="body-wrapper bs-docs-section clearfix ">
            <!-- content head ;Title and short link/ breadcrumb -->
            <!-- /head content -->
            <!-- Content starts Here -->
            <div class="container">
            {% set surat_sakit = list_param[2] %}
            {% set detail_surat = list_param[3] %}
            <meta id="my-data" data-name="{{surat_sakit[0].id}}" >    
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                {% block body %}{% endblock %}
                <div class="text-left">
                    <h1>Surat Sakit Mahasiswa</h1>
                    <h1>Nama Mahasiswa : {{ surat_sakit[0].nama_mahasiswa }}</h1>
                    <h1>Tanggal Upload : {{ surat_sakit[0].tanggal_upload }} </h1>
                    <h1>Nama Penyakit : {{ surat_sakit[0].nama_penyakit }}</h1>
                    <h1>Dokumen Surat Sakit : <a href="/sisukit/{{ surat_sakit[0].surat_sakit_mahasiswa }}" value="{{ surat_sakit[0].surat_sakit_mahasiswa }}"> Link </a> </h1>
                    <h1>Status Surat Sakit : {{ surat_sakit[0].status_surat_sakit }}</h1>

                    <table>
                            <thead>
                                <tr style="white-space:nowrap;">
                                    <th>No</th>
                                    <th>Tanggal Izin</th>
                                    <th>Nama Mata Kuliah</th>
                                    <th>Nama Dosen</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for detail in detail_surat %}
                                <tr style="white-space:nowrap;">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ surat_sakit[0].tanggal_upload }}</td>
                                    <td>{{ detail.mata_kuliah_izin }}</td>
                                    <td>{{ detail.nama_dosen_izin }}</td>
                                </tr>
                            {% endfor %}                            
                            </tbody>
                        </table>
                        <br>
                        <br>
                        
                        <div id="aksi_surat_sakit" style="display:flex;">
                            <div id="penerimaan_surat_sakit">
                                <input type="button" onclick="location.href='/sisukit/sekre/detilSuratSakit/terima/{{surat_sakit[0].id}}';" value="Terima Surat Sakit" />
                            </div>
                            <div id="penolakan_surat_sakit">
                                <input type="button" id="more_field_1" onclick="add_field_1();" value="Keterangan Penolakan"/>
                            </div>
                            
                        </div>
                    
                </div>
            </div>
            <!-- /.Content -->
        </div>
        <!-- /. Section body -->
    </main>
    <!-- /. main -->


{% include "footer.html" %}
</html>
<script>
    var count1 = 0
    var count2 = 0
    function add_field_1(){
        var county = count1.toString();
        var objTo = document.getElementById('penolakan_surat_sakit')
        count1++
        var divTest = document.createElement("div")
        var idSurat = $('#my-data').data("name");
        divTest.innerHTML = '<input type="button" id="less_field_1" onclick="decrease_field();" value="Batalkan Penolakan"/><br><form action="/sisukit/sekre/detilSuratSakit/tolak/'+idSurat+'" method="post"><label for="keterangan_penolakan">Keterangan Penolakan</label><input type="text" name="keterangan_penolakan" placeholder="Keterangan Penolakan" required><input class="btn btn-default" type="submit" value="Tolak Surat Sakit"></form>';
        divTest.setAttribute("id",'submit_penolakan');
        objTo.appendChild(divTest)
        document.getElementById('more_field_1').remove()
    }
    function decrease_field(){
        if(count1>0){
            var county = count1.toString();
            var objTo2 = document.getElementById('penolakan_surat_sakit')

            var divTest = document.createElement("div")
            divTest.innerHTML = '<input type="button" id="more_field_1" onclick="add_field_1();" value="Keterangan Penolakan"/>';
            divTest.setAttribute("id",'penolakan_surat_sakit');
            objTo2.appendChild(divTest)
            
            document.getElementById('submit_penolakan').remove()

            count1--
        }
    }
</script>