<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% include "navbar.html" %}

    <Title>Detail Surat Mahasiswa</Title>
    <!-- main of your body -->
    <main>
        <!-- Section body starts Here -->
        <div class="body-wrapper bs-docs-section clearfix ">
            <!-- content head ;Title and short link/ breadcrumb -->
            <!-- /head content -->
            <!-- Content starts Here -->
            <div class="container">
            {% set surat_sakit = list_param[2] %}
            {% set detail_surat = list_param[3] %}
            
                <div class="text-left">
                    <h1>Surat Sakit Mahasiswa</h1>
                    <h1>Nama : {{ surat_sakit[0].nama_mahasiswa }}</h1>
                    <h1>Tanggal Upload : {{ surat_sakit[0].tanggal_upload }} </h1>
                    <h1>Nama Penyakit : {{ surat_sakit[0].nama_penyakit }}</h1>
                    <h1>Dokumen Surat Sakit : <a href="/sisukit/{{ surat_sakit[0].surat_sakit_mahasiswa }}" value="{{ surat_sakit[0].surat_sakit_mahasiswa }}"> Link </a> </h1>
                    <h1>Status Surat Sakit : {{ surat_sakit[0].status_surat_sakit }}</h1>

                    <table>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Tanggal Izin</th>
                                    <th>Nama Mata Kuliah</th>
                                    <th>Nama Dosen</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for detail in detail_surat %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ surat_sakit[0].tanggal_upload }}</td>
                                    <td>{{ detail.mata_kuliah_izin }}</td>
                                    <td>{{ detail.nama_dosen_izin }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                </div>
            </div>
            <!-- /.Content -->
        </div>
        <!-- /. Section body -->
    </main>
    <!-- /. main -->


{% include "footer.html" %}
</html>