<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% include "navbar.html" %}

    <Title>Detail Surat Mahasiswa</Title>
    <!-- main of your body -->
    <main>
        <!-- Section body starts Here -->
        <div class="body-wrapper bs-docs-section clearfix ">
            <!-- content head ;Title and short link/ breadcrumb -->
            <div class="header">
                <div class="text-left">
                    <h1>Surat Sakit Mahasiswa</h1>
                </div>
            </div>
            <!-- /head content -->
            <!-- Content starts Here -->
            <div class="container">
                <div class="text-left">

                    <h1>Nama : {{ list_param[0] }}</h1>
                    <h1>Tanggal Upload : {{ list_param[2] }}</h1>
                    <h1>Nama Penyakit : diare</h1>
                    <h1>Dokumen Surat Sakit : link Here</h1>
                    <h1>Status Surat Sakit : Diproses</h1>

                    <table>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Tanggal Izin</th>
                                    <th>Nama Mata Kuliah</th>
                                    <th>Nama Dosen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>09-10-2019</td>
                                    <td>Jarkomdat</td>
                                    <td>Bambuank</td>
                                </tr>
                            </tbody>
                        </table>

                </div>
            </div>
            <!-- /.Content -->
        </div>
        <!-- /. Section body -->
    </main>
    <!-- /. main -->


{% include "footer.html" %}
</html>