<!-- Head; what to be needed to initialize your html -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="stylesheet" href="https://desain.cs.ui.ac.id/static/bootstrap/css/bootstrap.min.css" type="text/css" media=screen>
    <link rel="stylesheet" href="https://desain.cs.ui.ac.id/static/bootstrap/css/responsive.css" type="text/css" media=screen>
    <link rel="stylesheet" href="https://desain.cs.ui.ac.id/static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://desain.cs.ui.ac.id/static/css/main.css" type="text/css" media=screen>
    <link rel="stylesheet" href="https://desain.cs.ui.ac.id/static/css/style.css" type="text/css" media=screen>
</head>
