<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% include "navbar.html" %}

    <Title>Kirim Surat Sakit</Title>
    <!-- main of your body -->
    <main>
        <!-- Section body starts Here -->
        <div class="body-wrapper bs-docs-section clearfix ">

            <!-- content head ;Title and short link/ breadcrumb -->
            <div>
                <div class="header">
                    <div class="text-center">
                        <h1>Kirim Surat Sakit</h1>
                    </div>
                </div>
                <!-- /head content -->
                <!-- Content starts Here -->
                <div class="container">
                    <div class="text-left">
                    
                    <form action="" method="post" enctype=multipart/form-data>
                        <label for="tanggal_submit">Tanggal Submit</label>
                        <input type="date" name="tanggal_submit" placeholder="Tanggal Submit" value="{{ list_param[2] }}" readonly="{{ list_param[2] }}">
                        <label for="nama_penyakit">Nama Penyakit</label>
                        <input type="text" name="nama_penyakit" placeholder="Nama Penyakit" required>
                        


                        <div>
                            <div id="tanggal_izin">
                                <fieldset class="form-group">
                                    <div>
                                    <label for="tanggal_izin">Tanggal Izin</label>
                                    <!-- <input type="button" id="more_field_2" onclick="add_field_2();" value="tambah hari" /> -->
                                    </div> 
                                    <input id="izin0" type="date" name="tanggal_izin" placeholder="Tanggal Izin" required>
                                    <input type="button" id="more_field_1" onclick="add_field_1();" value="tambah dosen dan mata kuliah" />
                                    <input type="button" id="less_field_1" onclick="decrease_field();" value="kurangi dosen dan mata kuliah" />
                                        <div id="dosen_dan_mata_kuliah">
                                            <div id="dosen_dan_mata_kuliah0">
                                                <label for="mata_kuliah_izin">Mata Kuliah Izin</label>
                                                <input id="matkul0" type="text" name="mata_kuliah_izin" placeholder="Mata Kuliah Izin" required>
                                                <label for="dosen_mata_kuliah">Dosen Izin</label>
                                                <input id="dosen0" type="text" name="dosen_mata_kuliah" placeholder="Dosen Mata Kuliah" required>  
                                            </div>
                                        </div>   
                                </fieldset>
                            </div>    
                        </div>
                        
                        
                        
                        
                        <br>
                        <label for="upload_surat">Dokumen Surat Sakit</label>
                        <input type="file" name="dokumen_surat_sakit" required>
                        <br>
                        <input class="btn btn-default" type="submit" value="Unggah Surat Sakit">



                    </form>

                    </div>
                </div>
            </div>
            <!-- /.Content -->

        </div>
        <!-- /. Section body -->
    </main>
    <!-- /. main -->


{% include "footer.html" %}
</html>
<script>
    var count1 = 0
    var count2 = 0
    function add_field_1(){
        var county = count1.toString();
        var objTo = document.getElementById('dosen_dan_mata_kuliah')
        count1++
        var divTest = document.createElement("div")
        divTest.innerHTML = '<label for="mata_kuliah_izin">Mata Kuliah Izin</label><input id="matkul'+count1+'" type="text" name="mata_kuliah_izin" placeholder="Mata Kuliah Izin" required><label for="dosen_mata_kuliah">Dosen Izin</label><input id="dosen'+count1+'" type="text" name="dosen_mata_kuliah" placeholder="Dosen Mata Kuliah" required>';
        divTest.setAttribute("id","dosen_dan_mata_kuliah"+count1);
        objTo.appendChild(divTest)
    }
    function decrease_field(){
        if(count1>0){
            var county = count1.toString();
            var objTo = document.getElementById('dosen_dan_mata_kuliah'+count1)
            objTo.remove()
            count1--
        }
    }
    function add_field_2(){
        count2++
        var county = count2.toString();
        var objTo = document.getElementById('tanggal_izin')
        var divTest = document.createElement("div")
        divTest.innerHTML = '';

    }
</script>