<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% include "navbar.html" %}

    <Title>Daftar Surat</Title>
    <!-- main of your body -->
    <main>
        <!-- Section body starts Here -->
        <div class="body-wrapper bs-docs-section clearfix ">

            <!-- content head ;Title and short link/ breadcrumb -->
            <div>
                <div class="header">
                    <div class="text-center">
                        <h1>Daftar Surat Sakit</h1>
                    </div>
                </div>
                <!-- /head content -->
                <!-- Content starts Here -->
                <div class="container">
                    <div class="text-center">
                    
                        <table>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Tanggal</th>
                                    <th>Nama Mahasiswa</th>
                                    <th>Nama Penyakit</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>09-10-2019</td>
                                    <td>bambang</td>
                                    <td>diare</td>
                                    <td>
                                        <button>Detail</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>09-10-2019</td>
                                    <td>herman</td>
                                    <td>asma</td>
                                    <td>
                                        <button>Detail</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.Content -->

        </div>
        <!-- /. Section body -->
    </main>
    <!-- /. main -->


{% include "footer.html" %}
</html>