<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
{% include "navbar.html" %}

    <Title>Daftar Surat</Title>
    <!-- main of your body -->
    <main>
        <!-- Section body starts Here -->
        <div class="body-wrapper bs-docs-section clearfix ">

            <!-- content head ;Title and short link/ breadcrumb -->
            <div>
                <div class="header">
                    <div class="text-center">
                        <h1>Daftar Surat Sakit</h1>
                    </div>
                </div>
                <!-- /head content -->
                <!-- Content starts Here -->
                <div class="container">
                    <div class="text-center">
                    
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Nama Mahasiswa</th>
                                    <th scope="col">Nama Penyakit</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for surat in list_param[2] %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ surat.tanggal_upload }}</td>
                                    <td>{{ surat.nama_mahasiswa }}</td>
                                    <td>{{ surat.nama_penyakit }}</td>
                                    <td>{{ surat.status_surat_sakit }}</td>
                                    <td>
                                        <a class="nav-link" href="/sisukit/sekre/detilSuratSakit/{{surat.id}}">Detail</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.Content -->

        </div>
        <!-- /. Section body -->
    </main>
    <!-- /. main -->


{% include "footer.html" %}
</html>