<!-- /. Head -->
<!-- Body starts here -->
<body class="site-wrapper bg-default">
    <!-- header of your body -->
    <header>
        <!-- Navbar Starts Here -->
        <div class="navbar-wrapper">
            <div class="container-fullwidth">
                <nav class="navbar mast-nav-default navbar-static-top fixed-top" id="main-navbar">
                    <div class="bg-header"><img src="C:\Users\Lenovo\Documents\OSSD\SISUKIT\Aset\logo-vertikal-hitam.png"></div>
                    <div class="container-global">
                        <div class="navbar-header">
                            <button aria-controls="navbar" aria-expanded="false" class=" navbar-toggle collapsed"
                                    data-target="#navbar" data-toggle="collapse" type="button">
                                <span class="sr-only">Toggle navigation</span><i class="fa fa-ellipsis-v"
                                                                                 style="font-size:20px"></i>
                            </button>
                            <div class="nav-title"><a class="icon" href="/index">SISUKIT</a></div>
                        </div>
                        <div class="navbar-collapse collapse nav-flex-icons ml-auto" id="navbar">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/faq">Daftar Surat Sakit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/faq">Kirim Surat Sakit</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right" style="padding-right:20px">

                                <li class="dropdown nav-item">
                                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link"
                                       data-toggle="dropdown" href="#" role="button">
                                        aji.wuryanto<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Profile</a>
                                        </li>
                                        <li>
                                            <a href="/csauth/logout/">Logout</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /.Navbar -->
    </header>
    <!-- /. header -->