
<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}


    <!-- main of your body -->
    <main>
        <!-- Section body starts Here -->
        <div class="body-wrapper bs-docs-section clearfix ">
            <!-- content head ;Title and short link/ breadcrumb -->
            <div class="header">
                <div class="text-center">
                    <h1>Selamat Datang di SISUKIT</h1>
                    <h1>Silahkan Login</h1>
                </div>
            </div>
            <!-- /head content -->
            <!-- Content starts Here -->
            <div class="container">
                <div class="text-center">
                    
                </div>
            </div>
            <!-- /.Content -->
        </div>
        <!-- /. Section body -->
    </main>
    <!-- /. main -->



{% include "footer.html" %}
</html>
